/* InstaCard stays fixed height */
.insta-frame {
  height: 32rem;
}

/* Threads frame shrinks down in mobile */
@media (min-width: 769px) {
  .threads-frame {
    height: 34rem;
  }
}
@media (max-width: 768px) {
  .threads-frame iframe {
    height: auto;
  }
}
