.iframe {
  flex-direction: column;
}

.insta-frame {
  height: 32rem;
}

@media (min-width: 769px) {
  .threads-frame {
    height: 34rem;
  }
}

@media (max-width: 768px) {
  .threads-frame iframe {
    height: auto;
  }
}
