.main-text-content {
  padding: 2rem;
  padding-bottom: 1rem;
}

.home-container {
  padding: 1rem;
  margin-top: 1rem;
}

.featured-content {
  padding: 5rem;
}

.stroke-current {
  color: #92D761;
}